.sign-up {
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 1rem;

  .left-section {
    width: 100%;
    text-align: center;
  }

  .right-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;

    form {
      width: 450px;

      .form-fields {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        .outer {
          display: flex;
          flex-direction: column;
          &:last-child {
            grid-column: 1 / -1;
          }

         
        }
      }
    }
  }
}
